@import "override/container";

.border-1 {
    box-shadow:0 1px 4px rgba(0,0,0,.04);
            border:1px solid rgba(0,0,0,.09);
}

.popover.right .arrow:before {
    content: "";
    display:block;
    position:absolute;
    z-index:-1;
    height:14.14px;
    width:14.14px;
    bottom:-8px;
    left:4px;
    background:transparent;
    transform: rotate(45deg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }