$primary:       #1073B6;
$secondary:     #93A0A8;
$success:       #28a745;
$info:          #17a2b8;
$warning:       #EC992D;
$danger:        #D03D3D;
$light:         #f8f9fa;
$dark:          #343a40;

$theme-colors: (
    'dark-75':  rgba($dark, 0.75),
    'dark-50':  rgba($dark, 0.5),
    'primary-10':  rgba($primary, 0.10),
);

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;